{
  "printWidth": 140,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.ts",
      "options": {
        "parser": "typescript",
        "tabWidth": 2
      }
    },
    {
      "files": "**/*.js",
      "options": {
        "parser": "babylon"
      }
    },
    {
      "files": "**/*.{scss,less,css}",
      "options": {
        "singleQuote": false,
        "semi": true
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": [".prettierrc", ".stylelintrc", ".lintstagedrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
